# Backend
backend/bin/
backend/obj/
backend/.vs/
backend/*.csproj.user

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Claude Code
.claude/

# Misc
lighthouse-perf.json
/backend/Eden Relics BE.Tests/bin/Debug/net10.0
/backend/Eden Relics BE.Tests/bin/Release/net10.0
/backend/Eden Relics BE.Tests/obj/Debug/net10.0
/backend/Eden Relics BE.Tests/obj/Release/net10.0
/backend/Eden Relics BE.Tests/obj
